.main {
    margin-top: 25px;
    padding: 20px 0px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .regionTitle {
        color: white;
        font-family: 'Roboto', sans-serif;
    }

    .cardBox {
        width: 100% ;
        display: flex ;
        flex-wrap: wrap;
        justify-content: center;
        z-index: 1;

        .card {
            width: 350px;
            height: 400px;
            background: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(5px);
            box-shadow: 15px 15px 15px 18px rgb(0, 0, 0, 0.5);
            border-top: solid 1px rgba(255, 255, 255, 0.651);
            border-left: solid 1px rgba(255, 255, 255, 0.651);
            border-radius: 5px;
            margin: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow: hidden;
        
            .cioc {
                position: absolute;
                top: 10px;
                left: 10px;
                color: rgba(255, 255, 255, 0.568);
                font-family: 'Roboto', sans-serif;
            }
        
            .image {
                position: absolute;
                margin-top: 50px;
                width: 200px;
                height: 80px; 
            }
        
            .headTitle {
                position: absolute;
                top: 130px;
                text-align: center;
                color: white;
                font-family: 'Roboto', sans-serif;
                margin: 10px;
            }
        
            .arm {
                position: absolute;
                top: 190px;
                width: 80px;
                height: 80px;
            }
        
            .title {
                position: relative;
                top: 280px;
                color: rgba(255, 255, 255, 0.568);
                font-family: 'Roboto', sans-serif;
                margin: 2px;
                text-align: center;
            }
        }
    }
}
