.regBox {
    width: 100%;
    min-height: 100vh;
    background: white;
    padding: 250px 50px 0px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #161623;
    z-index: 1;

    .title {
        color: white;
        margin: 5px;
        font-family: sans-serif;
    }

    .subtitle {
        color: white;
        font-family: sans-serif;
    }

    .button {
        margin: 10px;
        width: 200px;
        height: 35px;
        border: none;
        background: rgb(0, 81, 255);
        color: white;
        font-weight: bold;
        border-radius: 2px;
    }
}

/* --------------------- Adaptive ------------------------- */

@media (max-width: 580px) {
    .regBox {
        .title {
            font-size: 25px;
        }
        .subtitle {
            font-size: 17px;
        }
    }
}

@media (max-width: 540px) {
    .regBox {
        padding: 250px 50px 0px 50px;
        .title {
            font-size: 25px;
        }
        .subtitle {
            font-size: 17px;
        }
    }
}

@media (max-width: 435px) {
    .regBox {
        .title {
            margin: 5px;
            font-size: 22px;
        }
        .subtitle {
            font-size: 12px;
        }
        .button {
            width: 180px;
        }
    }
}

@media (max-width: 400px) {
    .regBox {
        .title {
            margin: 5px;
            font-size: 20px;
        }
        .subtitle {
            font-size: 10px;
        }
    }
}