@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

.container {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    background: #161623;
    background-image: url(../images/home.jpg);
    background-size: 100% 100%;
    z-index: 1;
    overflow: hidden;

    .stataBox {
        padding: 0 0px 0 100px;

            .title {
                position: absolute;
                top: 81px;
                left: 90px;
                transform: rotate(-90deg);
                color: white;
                font-size: 25px;
                transition: .5s;
                cursor: pointer;
                font-family: 'Bebas Neue', cursive;
                letter-spacing: 1px;
                &:hover {
                    transform: rotate(0deg);
                }
            }
    
            .nameTitle {
                position: relative;
                top: 200px;
                color: white;
                font-size: 85px;
                line-height: 1.1;

                .hover {
                    position: relative;
                    top: -30px;
                    opacity: 0;
                    font-family: 'Bebas Neue', cursive;
                    letter-spacing: 10px;
                    transition: .2s;
                    cursor: pointer;

                    &:hover {
                        color: #D83F87;
                        transform: scale(1.2);
                    }
                }

                .anime1 {
                    animation: apear .5s linear;
                    animation-fill-mode: forwards;
                    animation-delay: .5s;
                }
                .anime2 {
                    animation: apear .5s linear;
                    animation-fill-mode: forwards;
                    animation-delay: 1s;
                }
                .anime3 {
                    animation: apear .5s linear;
                    animation-fill-mode: forwards;
                    animation-delay: 1.5s;
                }

                @keyframes apear {
                    0% {
                        top: -20px;
                        opacity: 0;
                    }
                    100% {
                        top: 0px;
                        opacity: 1;
                    }
                }
            }
    
            .box {
                position: absolute;
                top: -80%;
                left: 64.5%;
                width: 350px;
                height: 80vh;
                background: rgba(255, 255, 255, 0.1);
                border-bottom: solid 1px rgba(255, 255, 255, 0.5);
                border-left: solid 1px rgba(255, 255, 255, 0.5);
                box-shadow: 15px 15px 15px 18px rgb(0, 0, 0, 0.5);
                backdrop-filter: blur(5px);
                border-radius: 2px;
                animation: apearBox 1s linear;
                animation-fill-mode: forwards;
                animation-delay: 2s;

                @keyframes apearBox {
                    0% {
                        top: -80%;
                    }
                    100% { 
                        top: 0%;
                    }
                }

                .text {
                    position: relative;
                    margin-top: 10px;
                    left: 15%;
                    top: 51%;
                    color: white;
                    transition: .2s;
                    cursor: pointer;
                    font-family: 'Bebas Neue', cursive;
                    letter-spacing: 5px;
                    &:nth-child(5) {
                        top: 15px;
                        color: #161623;
                        &:hover {
                            letter-spacing: 5px !important;
                        }
                    }
                    &:hover {
                        color: aqua;
                        letter-spacing: 7px;
                    }
                }
            }

            .auth {
                position: relative;
                top: -285px;
                left: 568px;
                font-size: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                text-decoration: none;
                font-family: 'Bebas Neue', cursive;
                letter-spacing: 1px;

                .icon {
                    position: relative;
                    top: -2px;
                    left: 2px;
                    color: white;
                    width: 25px;
                }
            }
        }
            

        .socialMedia {
            position: relative;
            top: 340px;
            width: 150px;
            display: flex;
            justify-content: space-between;

            .icons {
                color: rgba(255, 255, 255, 0.582);
                font-size: 25px;
                transition: .2s;
                cursor: pointer;
                animation: apearIcon .5s linear;
                animation-fill-mode: forwards;
                animation-delay: 3s;
                transform: scale(0);
                &:hover {
                    transform: scale(1.3);
                    color: aqua;
                }

                @keyframes apearIcon {
                    0% {
                        transform: scale(0);
                    }
                    100% {
                        transform: scale(1);
                    } 
                }
            }
        }
}

/* --------------------- Adaptive ------------------------- */

@media (max-width: 1100px) {
    .container {
        .stataBox {
            .nameTitle {
                font-size: 75px;
            }

            .box {
                left: 63%;
                width: 280px;
            }

            .auth {
                top: -260px;
                left: 435px;
                font-size: 20px;
            }
        }
    }
}

@media (max-width: 1000px) {
    .container {
        .stataBox {
            .nameTitle {
                font-size: 70px;
            }

            .box {
                left: 61%;
                width: 280px;
            }

            .auth {
                top: -245px;
                left: 400px;
                font-size: 20px;
            }
        }
    }
}

@media (max-width: 900px) {
    .container {
        .stataBox {
            .nameTitle {
                font-size: 65px;
            }

            .box {
                left: 61.5%;
                width: 240px;
                height: 350px;

                .text {
                    top: 150px;
                    font-size: 25px;
                    &:nth-child(5) {
                        font-size: 14px;
                        top: -50px;
                        color: #161623;
                    }
                }
            }

            .auth {
                top: -225px;
                left: 350px;
                font-size: 20px;
            }

            .socialMedia {
                top: 400px;
            }
        }
    }
}

@media (max-width: 820px) {
    .container {
        .stataBox {
            .title {
                font-size: 25px;
            }

            .nameTitle {
                font-size: 60px;
            }

            .box {
                left: 64%;
                width: 200px;
                height: 350px;

                .text {
                    font-size: 23px;
                    &:nth-child(5) {
                        font-size: 10px;
                        top: -40px;
                        color: #161623;
                    }
                }
            }

            .auth {
                top: -210px;
                left: 315px;
                font-size: 19px;
            }

            .socialMedia {
                top: 425px;
            }
        }
    }
}

@media (max-width: 768px) {
    .container {
        .stataBox {
            .nameTitle {
                font-size: 80px;
            }

            .box {
                display: none;
            }

            .auth {
                top: -275px;
                left: 280px;
                font-size: 19px;
            }

            .socialMedia {
                top: 370px;
            }
        }
    }
}

@media (max-width: 700px) {
    .container {
        .stataBox {
            .auth {
                top: -275px;
                left: 245px;
                font-size: 19px;
            }
        }
    }
}

@media (max-width: 650px) {
    .container {
        .stataBox {
            .auth {
                top: -275px;
                left: 220px;
                font-size: 19px;
            }
        }
    }
}

@media (max-width: 540px) {
    .container {
        .backBtn {
            top: 24px;
            right: 25px;
        }
        .stataBox {
            padding: 0 0px 0 30px;
            .title {
                top: 100px;
                left: 17px;
                font-size: 20px;
            }

            .nameTitle {
                font-size: 55px;
            }

            .box {
                display: flex;
                flex-direction: column;
                top: 395px;
                left: 500px;
                width: 500px;
                height: 200px;
                background: none;
                border: none;
                animation: apearBox 2s linear;
                animation-fill-mode: forwards;
                animation-delay: .5s;
                .text {
                    top: 20px;
                    left: 30px;
                    &:nth-child(5) {
                        top: -130px;
                        left: 190px;
                    }
                }
            }

            @keyframes apearBox {
                0% {
                    left: 500px;
                }
                100% { 
                    left: 100px;
                }
            }

            .auth {
                top: -197px;
                left: 200px;
                font-size: 17px;
            }

            .socialMedia {
                top: 460px;
            }
        }
    }
}

@media (max-width: 500px) {
    .container {
        .stataBox {
            .auth {
                top: -197px;
                left: 183px;
                font-size: 17px;
            }
        }
    }
}

@media (max-width: 450px) {
    .container {
        .stataBox {
            .auth {
                top: -197px;
                left: 160px;
                font-size: 17px;
            }
        }
    }
}

@media (max-width: 414px) {
    .container {
        .stataBox {
            padding: 0 0px 0 20px;
            .backBtn {
                right: 17px;
            }

            .title {
                top: 100px;
                left: 8px;
                font-size: 20px;
            }

            .nameTitle {
                font-size: 50px;
            }

            .box {
                .text {
                    top: 20px;
                    left: 30px;
                    &:nth-child(5) {
                        top: -13px;
                        left: 150px;
                    }
                }
            }

            .auth {
                top: -180px;
                left: 148px;
                font-size: 17px;
                .icon {
                    top: -1px;
                }
            }
            .socialMedia {
                top: 465px;
            }
        }
    }
}

@media (max-width: 350px) {
    .container {
        .stataBox {
            .title {
                top: 100px;
                left: 8px;
                font-size: 20px;
            }

            .nameTitle {
                top: 150px;
                font-size: 50px;
            }

            .box {
                .text {
                    top: 20px;
                    left: 30px;
                    &:nth-child(5) {
                        top: -133px;
                        left: 150px;
                    }
                }
            }

            @keyframes apearBox {
                0% {
                    left: 500px;
                }
                100% { 
                    left: 50px;
                }
            }

            .auth {
                top: -238px;
                left: 120px;
                font-size: 17px;
                .icon {
                    top: -1px;
                }
            }

            .socialMedia {
                top: 435px;
            }
        }
    }
}