.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #161623;
  z-index: 1;
  &::before {
    position: fixed;
    top: -100px;
    left: -200px;
    content: '';
    width: 500px;
    height: 500px;
    background: rgba(255, 255, 255, 0.1);
    border-top: solid 1px rgba(255, 255, 255, 0.5);
    border-left: solid 1px rgba(255, 255, 255, 0.5);
    box-shadow: 15px 15px 15px 18px rgb(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 50%;
  }
  &::after {
    position: fixed;
    bottom: -150px;
    right: -140px;
    content: '';
    width: 500px;
    height: 500px;
    background: rgba(255, 255, 255, 0.1);
    border-top: solid 1px rgba(255, 255, 255, 0.5);
    border-left: solid 1px rgba(255, 255, 255, 0.5);
    box-shadow: 15px 15px 15px 18px rgb(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 50%;
  }

  .title {
    margin-top: 60px;
    color: white;
  }

  .lds_ripple {
    display: flex;
    position: relative;
    width: 80px;
    height: 80px;
    transform: scale(3);
  }
  .lds_ripple .div {
    position: absolute;
    border: 4px solid rgb(0, 102, 255);
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds_ripple .div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0; 
      opacity: 0;
    }
    4.9% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    5% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }
}

/* --------------------- Adaptive ------------------------- */

@media (max-width: 1000px) {
  .container {
    &::before {
      content: '';
      top: -130px;
      width: 450px;
      height: 450px;
    }
    &::after {
      content: '';
      width: 450px;
      height: 450px;
    }
  }
}

@media (max-width: 540px) {
  .container {
    &::before {
      content: '';
      width: 350px;
      height: 350px;
    }
    &::after {
      content: '';
      width: 350px;
      height: 350px;
    }
    .title {
      font-size: 18px;
      margin-top: 30px;
    }
    .lds_ripple {
      transform: scale(2);
    }
  }
}