@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.link {
    position: relative;
    top: 3px;
    margin-top: 5px;
    width: 90%;
    height: 50px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5px;
    display: flex;
    justify-content: start;
    align-items: center;
    transition: .5s;

    .icon {
        position: relative;
        top: 2px;
        width: 27px;
        font-size: 27px;
        margin-left: 11px;
    }

    .text {
        position: relative;
        top: 0px;
        left: 10px;
        font-weight: 100;
        font-family: 'Roboto', sans-serif;
        display: none;
    }

    .textActive {
        display: flex;
    }
}

.completed {
    background: rgb(0, 89, 255) !important;
}

/* --------------------- Adaptive ------------------------- */

@media (max-width: 540px) {
    .link {
        .textActive {
            display: none;
        }
    }
}